body {
	background-color: #000000;
	color: #ffffff;
	margin-top: 20px;
}

.thumbnails img {
	height: 80px;
	border: 4px solid #555;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 4px solid #0cf;
	cursor: pointer;
}

.gallery, .preview {
	text-align: left;
}