body {
	background-color: #000000;
	color: #ffffff;
	margin-top: 20px;
	text-align: center;
}

.thumbnails {
	float: left;
	width: 20%;
}

.thumbnails img {
	display: block;
	height: 80px;
	border: 4px solid #555;
	margin-left: 20px;
	margin-bottom: 10px;
}

.thumbnails img:hover {
	border: 4px solid #0cf;
	cursor: pointer;
}

.preview {
	margin-left: auto;
	margin-right: auto;
}
